.detail{
    .card{
        .card-desc{
            p{
                font-size: 18px;
                padding: .3rem;
                text-align: justify;
            }
            h3{
                border: 1px solid black;
                padding: .5rem;
            }
        }
    }

}