.product {
    .banner-product {
        height: 40vh;
        background: linear-gradient(89.77deg, #14B8EC 28.87%, rgba(27, 200, 255, 0) 98.54%);
        display: flex;
    }
    .card.mb-3.mx-1 {
        width: 24%;
        cursor: pointer;
    }
    .text {
        color: white;
        align-self: center;

        h1 {
            font-weight: 700;
            font-size: 108px;
            letter-spacing: 0.06em;
            line-height: 71px;
        }

        h2 {
            font-weight: 700;
            font-size: 30px;
            letter-spacing: 0.06em;
        }
    }

    .foto {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 568px) {
    .product {
        .card.mb-3.mx-1 {
            width: 47%;
            p.card-text {
                font-size: 12px;
            }
        }
    }
}
@media only screen and (max-width: 968px) {
    .product {
        .wrap-product{
            justify-content: space-between;
        }
        .card.mb-3.mx-1 {
            width: 47%;
        }
        .text {
            h1 {
                font-size: 70px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}

