/* Define standard variables and values for website */
@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@200&display=swap");
.homepage {
  min-height: 100vh;
  background: #2B2B2B;
}
.homepage span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: orange;
}
.homepage .ornamen {
  position: absolute;
  height: 50%;
  right: 0;
  left: 0;
  top: 20%;
  display: flex;
}
.homepage .ornamen .col-kedua {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
}
.homepage .ornamen .col-abu {
  width: 223px;
  height: 13px;
  background: #4C4C4C;
  border-radius: 8px;
}
.homepage .ornamen .abu-kecil {
  width: 46px;
  height: 13px;
  background: #4D4D4D;
  border-radius: 8px;
}
.homepage .ornamen .col-orange {
  width: 123px;
  height: 13px;
  background: #E78A00;
  border-radius: 8px;
}
.homepage .bg-text {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 180px;
  line-height: 211px;
  color: #E78A00;
  mix-blend-mode: normal;
  opacity: 0.05;
}
.homepage .hero {
  overflow: hidden;
  position: relative;
}
.homepage .hero h4.text-white {
  letter-spacing: 0.01em;
  font-size: 25px;
  text-shadow: 0px 3px 4px rgba(255, 255, 255, 0.56);
}
.homepage .hero .btn {
  border-radius: 45px;
  color: #2B2B2B;
}
.homepage .hero .text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: 0.06em;
  color: #2C99FE;
}
.homepage .hero .text h1 {
  font-weight: 500;
  font-size: 68px;
  line-height: 68px;
  letter-spacing: 0.03em;
}
.homepage .hero .text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 558px) {
  .homepage .hero {
    margin-top: 5rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .homepage .hero {
    margin-top: 3rem;
  }
  .homepage .hero h4.text-white {
    margin-top: 1rem;
  }
  .homepage .hero .btn {
    margin-top: 1rem;
  }
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper,
swiper-container {
  padding-bottom: 2rem !important;
}

.navbar .menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navbar .btn {
  border: 1px solid white;
  border-radius: 24px;
}

@media only screen and (max-width: 968px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .menu a {
    font-size: 14px;
    font-weight: 400;
  }
}
.product .banner-product {
  height: 45vh;
  background: #FFEDD1;
  display: flex;
}
.product .card.mb-3.mx-1 {
  width: 24%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.product .form-control {
  height: 20px;
}
.product .text {
  color: black;
  align-self: center;
}
.product .text span {
  color: #E78A00;
}
.product .text h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product .text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product .foto {
  align-self: flex-end;
}

@media only screen and (max-width: 568px) {
  .product .text h2 {
    font-size: 16px !important;
  }
  .product .input {
    flex-direction: column-reverse;
  }
  .product .card.mb-3.mx-1 {
    width: 47%;
  }
  .product .card.mb-3.mx-1 p.card-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 968px) {
  .product .foto {
    position: absolute;
    right: 0;
  }
  .product .wrap-product {
    justify-content: space-between;
  }
  .product .card.mb-3.mx-1 {
    width: 47%;
  }
  .product .text h1 {
    font-size: 70px;
  }
  .product .text h2 {
    font-size: 20px;
    line-height: 25px;
  }
}
.promo {
  overflow: auto;
}
.promo .card {
  width: 270px;
}
.promo ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* width */
.promo::-webkit-scrollbar {
  width: 30px;
}

/* Track */
.promo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.promo::-webkit-scrollbar-thumb {
  background: white;
  width: 20px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E78A00;
}

.detail .card .card-desc p {
  font-size: 18px;
  padding: 0.3rem;
  text-align: justify;
}
.detail .card .card-desc h3 {
  border: 1px solid black;
  padding: 0.5rem;
}/*# sourceMappingURL=index.css.map */